/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #f4f3ec;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;
}

.pln {
  color: #22221b;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #878573;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #f4f3ec;
  list-style-type: decimal;
}

@media screen {

  /* string content */

  .str {
    color: #7d9726;
  }

  /* keyword */

  .kwd {
    color: #5f9182;
  }

  /* comment */

  .com {
    color: #878573;
  }

  /* type name */

  .typ {
    color: #36a166;
  }

  /* literal value */

  .lit {
    color: #ae7313;
  }

  /* punctuation */

  .pun {
    color: #22221b;
  }

  /* lisp open bracket */

  .opn {
    color: #22221b;
  }

  /* lisp close bracket */

  .clo {
    color: #22221b;
  }

  /* markup tag name */

  .tag {
    color: #ba6236;
  }

  /* markup attribute name */

  .atn {
    color: #ae7313;
  }

  /* markup attribute value */

  .atv {
    color: #5b9d48;
  }

  /* declaration */

  .dec {
    color: #ae7313;
  }

  /* variable name */

  .var {
    color: #ba6236;
  }

  /* function name */

  .fun {
    color: #36a166;
  }
}

 body[data-theme="dark"] .prettyprint {
	 background: #1d1f21;
	 font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
	 border: 0 !important;
}
 body[data-theme="dark"] .pln {
	 color: #c5c8c6;
}
 body[data-theme="dark"] ol.linenums {
	 margin-top: 0;
	 margin-bottom: 0;
	 color: #969896;
}
 body[data-theme="dark"] li.L0, body[data-theme="dark"] li.L1, body[data-theme="dark"] li.L2, body[data-theme="dark"] li.L3, body[data-theme="dark"] li.L4, body[data-theme="dark"] li.L5, body[data-theme="dark"] li.L6, body[data-theme="dark"] li.L7, body[data-theme="dark"] li.L8, body[data-theme="dark"] li.L9 {
	 padding-left: 1em;
	 background-color: #1d1f21;
	 list-style-type: decimal;
}
 @media screen {
	 body[data-theme="dark"] .str {
		 color: #b5bd68;
	}
	 body[data-theme="dark"] .kwd {
		 color: #b294bb;
	}
	 body[data-theme="dark"] .com {
		 color: #969896;
	}
	 body[data-theme="dark"] .typ {
		 color: #81a2be;
	}
	 body[data-theme="dark"] .lit {
		 color: #de935f;
	}
	 body[data-theme="dark"] .pun {
		 color: #c5c8c6;
	}
	 body[data-theme="dark"] .opn {
		 color: #c5c8c6;
	}
	 body[data-theme="dark"] .clo {
		 color: #c5c8c6;
	}
	 body[data-theme="dark"] .tag {
		 color: #c66;
	}
	 body[data-theme="dark"] .atn {
		 color: #de935f;
	}
	 body[data-theme="dark"] .atv {
		 color: #8abeb7;
	}
	 body[data-theme="dark"] .dec {
		 color: #de935f;
	}
	 body[data-theme="dark"] .var {
		 color: #c66;
	}
	 body[data-theme="dark"] .fun {
		 color: #81a2be;
	}
}
 